---
---

@import "{{ site.theme }}";

.inner {
  max-width: 840px !important;
}

#header_wrap {
  display: none;
}

p {
  text-align: justify;
}

#main_content_wrap {
  background: #fff;
}

#footer_wrap {
  display: none;
}
